.navbar {
    position: fixed;  
    z-index: 99;
    bottom: 20px;
    background: #4e4e4ecc;
    backdrop-filter: blur(24px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px, rgba(0, 0, 0, 0.16) 0px 4px 16px 0px;

  }
  
  .nav-item.active {
    background-color: white ;
  }

/* Add the following styles to your Navbar.css file or a separate CSS file */

/* Tooltip style */
.tooltip {
  position: absolute;
  bottom: calc(100% + 18px); /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 12px;
  background-color: rgb(118, 117, 117);
  color: #fff;
  border: 1px solid #ffffff14 ;
  border-radius: 50px;
  font-size: 14px;
  white-space: nowrap;
  pointer-events: none; /* Prevent the tooltip from being interactive */
}



/* Navbar.css */

.navbar {
  /* Initial position: hidden at the bottom */
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.navbar.show {
  /* Display the navbar at the normal position */
  transform: translateY(0);
}
