.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-container:hover {
  cursor: pointer;
  transition: 0.2s ease-in;
}

.radio-tile-group {
  backdrop-filter: blur(24px);
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #333333cc;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  transition: 0.1s ease-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px, rgba(0, 0, 0, 0.16) 0px 4px 16px 0px;
}

.input-container {
  position: relative;
  height: 51px;
  width: 51px;
}

.input-container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50%;
  transition: 0.2s ease-in;
}

.radio-tile img {
  width: 36px;
  height: 36px;
}



.input-container:not(.active):hover .radio-tile {
  background-color: #444444;
  border-radius: 50px;
  transition: 0.1s ease-out;
}

.divider {
  flex: 0 0 0.5px;
  height: 34px;
  justify-content: center;
  align-items: center;
  border: 1px solid #444444;
}

.active {
  background-color: white !important;
  border-radius: 50px;
}


.radio-tile:hover{
  background-color: #444444;
  border-radius: 50px;

}