@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



:root {
  /* font-family: 'Figtree', sans-serif; */
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  align-items: center;
  min-width: 320px;
  font-family: Outfit, sans-serif;
  cursor: url('/cursor.svg'), auto;

}
.view-container {
  @apply box-border mx-auto;
  @apply w-full max-w-screen-lg; /* Adjust max-width as per your design needs */
}

.view-container-shrinked {
  @apply box-border mx-auto;
  @apply w-full max-w-screen-md; /* Adjust max-width as per your design needs */
}

.view-container-nonshrinked {
  width: 100%;
  max-width: calc(1008px ); /* 1024px is the default max-width for max-w-screen-lg in Tailwind */
  /* Adjust the max-width value if your tailwind config has a different value for max-w-screen-lg */
}


.mdx-content > h1,
.mdx-content > * > h1 {
  @apply text-2xl my-2;
}

.mdx-content > h2,
.mdx-content > * > h2 {
  @apply text-xl my-2;
}

.mdx-content > h3,
.mdx-content > * > h3 {
  @apply text-lg my-2;
}

.mdx-content > p,
.mdx-content > * > p {
  @apply my-4 leading-6 text-base;
}

@media (max-width: 768px) {
  .mdx-content > h1,
  .mdx-content > * > h1 {
    @apply text-xl my-2;
  }

  .mdx-content > h2,
  .mdx-content > * > h2 {
    @apply text-lg my-2;
  }

  .mdx-content > h3,
  .mdx-content > * > h3 {
    @apply text-base my-2;
  }

  .mdx-content > p,
  .mdx-content > * > p {
    @apply my-3 leading-5 text-sm;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-container {
  position: relative;
  width: 65vmin;
  height: 80vmin;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(17, 17, 17, .35);
  transition: transform 0.35s ease-out;
  will-change: transform;
}

.card:hover {
  transform: scale(1) rotate(0deg);
  z-index: 1;
}

.card-before {
  content: '';
  display: block;
  width: 90%;
  height: 80%;
  margin: 5%;
  background: var(--image) center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5px #22222259;
  border-radius: 2px;
  filter: sepia(0.2) brightness(0.9) contrast(1.2);
  transition: opacity 0.35s ease-out;
  opacity: 0.5;
  will-change: opacity;
}

.card-after {
  display: block;
  content: var(--caption);
  font-weight: 500;
  color: #555;
  font-size: 3vmin;
  opacity: 0.75;
  text-align: center;
}



/* Home.css */

.hero-section {
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; 
}

.fade-in {
  opacity: 1;
}


.hover:bg-zinc-700 {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.hover:bg-zinc-700:hover {
  transform: scale(1.1);
}


#image-container {
  width: fit-content;
  height: 80%;
  overflow: hidden;
  position: relative;
}

#image-track {
  display: flex;
  gap: 2vmin;
  position: relative;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-user-select: none;
  user-select: none;
}

#image-track>.image {
  width: 25vmin;
  height: 36vmin;
  border-radius: 20px;
  border: 1px solid rgba(144, 144, 144, 0.5);
  object-fit: cover;
  object-position: 100% center;
}