body{
    background-image: url("public/Twitter.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    z-index: -10;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}