 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--hover-bg: linear-gradient(90deg,rgba(30,28,50,0.8) 0%,rgba(43,22,29,0.7) 100%);
}

:root::-webkit-scrollbar
{
	width: 12px;
  background: #1e1e1e;
}

:root::-webkit-scrollbar-thumb{
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;}



  :root {
    font-family: 'Outfit', sans-serif;  line-height: 1.5;
    color-scheme: light dark;
     font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    min-width: 320px;
  }
  
  
.view-container {
  @apply box-border mx-auto;
  @apply w-[900px] max-2xl:w-[800px] max-xl:w-[720px] max-lg:w-[640px] max-md:w-[560px] max-sm:w-[340px];
}

.mdx-content > h1,
.mdx-content > * > h1 {
  @apply text-2xl my-2 max-md:text-xl max-sm:text-lg;
}

.mdx-content > h2,
.mdx-content > * > h2 {
  @apply text-xl my-2 max-md:text-lg max-sm:text-base;
}

.mdx-content > h3,
.mdx-content > * > h3 {
  @apply text-lg my-2 max-md:text-base max-sm:text-sm;
}

.mdx-content > p,
.mdx-content > * > p {
  @apply text-zinc-500 my-4 leading-6 text-base max-md:text-sm;
}


/* General scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  background: #1e1e1e;
}

/* Styles for the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* For Firefox */
/* The scrollbar width and background color */
/* Note that Firefox does not support customizing the scrollbar thumb style */
/* For older versions of Firefox, you may use -moz prefix */

.custom-gradient:hover{
background: var(--hover-bg);
transition: all 333ms ease 220s;
}