@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Outfit', sans-serif;  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column; /* Add this line */
  justify-content: flex-start;
  align-items: center; /* Add this line */
  min-width: 320px;
  min-height: 100vh;
}

.toggle-container {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); /* Add this line */
}
